/* Header.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    /* Adjust as necessary */
}

.nav-container {
    display: flex;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font: inherit;
    color: #000;
}

.logout-button:hover {
    text-decoration: underline;
}